<div class="container my-5 border-top border-secondary">
  <div class="row justify-content-center my-3">
    <div class="col-sm-8">
      <h3>ATM硬貨預払料金</h3>
      <p>ゆうちょ銀行のATMにおける硬貨の預け入れ・払戻しには，ATM硬貨預払料金が発生する．</p>
      <p>硬貨の投入は100枚まで．硬貨預払料金が投入金額を超えるような操作はできない．</p>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-sm-4">
      <p class="lead">預け入れ</p>
      <table class="table table-sm table-bordered table-striped text-center" style="table-layout: fixed;">
        <thead>
          <tr>
            <th scope="col">硬貨枚数</th>
            <th scope="col">料金</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1~25枚</td>
            <td>110円</td>
          </tr>
          <tr>
            <td>26~50枚</td>
            <td>220円</td>
          </tr>
          <tr>
            <td>51~100枚</td>
            <td>330円</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <p class="lead">払戻し</p>
      <table class="table table-sm table-bordered table-striped text-center" style="table-layout: fixed;">
        <thead>
          <tr>
            <th scope="col">硬貨枚数</th>
            <th scope="col">料金</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1枚以上</td>
            <td>110円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>